.blogItem {
    :global {
        .blog_product:hover {
            transform: translateY(-10px);
            transition: all ease .5s;
        }

        .blog_item {
            border-radius: 5px;
            box-shadow: 0 0 30px rgba(0, 0, 0, .3);
        }

        .blog_border {
            border-top: 1px solid #FF5421;
            padding-top: 20px;
        }

        .blog_hover {
            cursor: pointer;
        }

        .blog_hover:hover {
            color: #FF5421;
            transition: all ease .5s;
        }

        .blog_content-img {
            overflow: hidden;
        }

        .blog_hover-img {
            width: 100%;
            transition: all ease .5s;
            height: 100%;
        }

        .blog_hover-img:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        .blog_item-child {
            display: none;
        }

        .blog_item:hover .blog_item-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
    }
}