.Course {
    :global {

        .course_item {
            border-radius: 5px;
            box-shadow: 0 0 30px rgba(0, 0, 0, .3);
            transition: all ease-in 2s;
        }

        .course_border {
            border-top: 1px solid #FF5421;
            padding-top: 20px;
        }

        .course_hover {
            cursor: pointer;
        }

        .course_hover:hover {
            color: #FF5421;
            transition: all ease .5s;
        }

        .course_content-img {
            overflow: hidden;
        }

        .course_hover-img {
            width: 100%;
            transition: all ease .5s;
            height: 100%;
        }

        .course_hover-img:hover {
            transform: scale(1.2);

        }

        .course_item-child {
            display: none;
        }

        .course_item:hover .course_item-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
    }
}