.Categories {
  :global {
    .categori_product:hover {
      transform: translateY(-10px);

    }

    .slick-next {
      right: 20px;
    }

    .slick-prev {
      left: 20px;
      z-index: 1;
    }

    .slick-prev,
    .slick-next {
      width: 30px;
      height: 30px;
    }

    .slick-prev:before,
    .slick-next:before {
      font-size: 30px !important;
    }

    .categori_product {
      transition: all ease .5s;
      border-radius: 5px;

    }

    .category_img {
      position: relative;
    }

    .category_img::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: black;
      top: 0;
      left: 0;
    }

    .categori_btn {
      border: 1px solid white;
      color: white;
      font-size: 16px;
      padding: 10px 20px;
      text-align: center;
      background-color: white;
      border-radius: 5px;
      margin: 0 auto;
      color: #171F32;
      margin-top: 10px;
      display: block;
    }

    .categori_btn:hover {
      background-color: #171F32;
      transition: all ease .5s;
      color: white;
    }

  }
}