.SlideBlog {
    :global {


        .slick-next {
            right: 20px;
        }

        .slick-prev {
            left: 20px;

        }

        .slick-prev,
        .slick-next {
            width: 30px;
            height: 30px;
            z-index: 20;

        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 30px !important;
            color: black;
        }



    }
}