CSS
.dropzone .dz-preview:hover .dz-image img {
    /* Bỏ hiệu ứng hover trên ảnh */
    filter: none;
    transform: none;
    /* Thêm bất kỳ kiểu dáng khác nếu cần */
  }
  
  .dropzone .dz-remove {
    display: none !important;
  }
  .dropzone .dz-image img:hover {
    filter: none;
    transform: none;
  }
  