.user_admin .ant-form-item .ant-form-item-label {
    text-align: left !important;
}

.color {
    background-color: #00000073;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
    padding: 0 10px;
    min-height: 50px;
}