@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'simplebar-react/dist/simplebar.min.css';


* {
    font-size: 16px;
}

.container {
    margin: 0 auto;
}

@media (min-width : 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

@media (max-width : 1024px) {
    .container {
        margin: 0 auto;
        padding: 1rem;
    }
}

.App {
    overflow: hidden;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    border-color: #fff;
}

.ant-popover .ant-popover-inner {
    padding: 0;
}

.css-djqxq7-MuiPaper-root-MuiAppBar-root {
    z-index: 10 !important;
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: 20px;
    z-index: 1;
}

.slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px !important;
}

.ant-image {
    width: 100% !important;
}

.video_trailer iframe {
    width: 100%;
    height: 300px;
}

.teaching_video iframe {
    width: 100%;
    height: 100%;
}